<h2>Post details</h2>
<br>
<h5>
	<%= @row['content'] %>
	<br>
	<span style="font-size: 75%">
		Added at: <%= @row['created_at'] %>
	</span>
</h5>

<h2>Comments:</h2>

<% if @comments != nil%>
	<% @comments.each do |comment| %>
		<p>
			<h6><%= comment['content'] %></h6>
			<span style="font-size: 75%">
				Added at <%= comment['created_at'] %>		
			</span>
		</p>
		<hr>
	<% end %>
<% end %>

<p>
	<form action="/details/<%= @row['id'] %>" method="POST" role="form">
		<textarea class="form-control" rows="6" name="content" placeholder="Type comment text here"></textarea><br>
	 	<button type="submit" class="btn btn-primary">Add comment</button>
	</form>
</p>